{% extends "base.html" %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ article.title }}</h1>
	<a href="{{ SITEURL }}/{{ CATEGORY_URL }}">{{ article.category }}</a>, <span class="post-date">{{ article.locale_date }}</span>
	{{ article.content }}
	{% include 'fragments/disqus.html' %}
</div>




{% if article.related_posts %}
    <div class="related_articles">
    <h5 class="related_articles_header">Artigos relacionados:</h5>
    <table>
          {% for related_post in article.related_posts %}
             <tr>
                <td>
                    {% if related_post.cover %}
                    <a href="{{ SITEURL }}/{{ related_post.url }}">
                        <img height="40px" src="{{ SITEURL }}/{{related_post.cover | thumbnail("_x80") }}" alt="{{ related_post.title }}">
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ SITEURL }}/{{ related_post.url }}">
                        {{ related_post.title }}
                    </a>
                </td>
            </tr>
          {% endfor %}
     </table>
    </div>
{% endif %}




{% if article.prev_article or article.next_article %}
    <hr>
    <div class="article_footer">
    <table width=100%><tr>
        <td align="left">
          {% if article.prev_article %}
            <a href="{{ SITEURL }}/{{ article.prev_article.url}}">❮ {{ article.prev_article.title }}</a>
          {% endif %}
        </td>
 
        <td>
           <!-- Just a spacer in the middle -->
        </td>
        
        <td align="right">
          {% if article.next_article %}
            <a href="{{ SITEURL }}/{{ article.next_article.url}}">{{ article.next_article.title }} ❯</a>
          {% endif %}
        </td>
    </tr></table>
    </div>
    <hr>
{% endif %}

{% endblock %}