<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		<link href="http://gmpg.org/xfn/11" rel="profile">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

		<!-- CSS -->
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- RSS -->
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
		
		<!-- Favicon stuff -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/images/favicons/apple-touch-icon.png?v=oLBP9WN8Gr">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/images/favicons/favicon-32x32.png?v=oLBP9WN8Gr">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/images/favicons/favicon-16x16.png?v=oLBP9WN8Gr">
		<link rel="manifest" href="{{ SITEURL }}/images/favicons/site.webmanifest?v=oLBP9WN8Gr">
		<link rel="mask-icon" href="{{ SITEURL }}/images/favicons/safari-pinned-tab.svg?v=oLBP9WN8Gr" color="#6a9fb5">
		<link rel="shortcut icon" href="{{ SITEURL }}/images/favicons/favicon.ico?v=oLBP9WN8Gr">
		<meta name="apple-mobile-web-app-title" content="VictorDomingos">
		<meta name="application-name" content="VictorDomingos">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-config" content="{{ SITEURL }}/images/favicons/browserconfig.xml?v=oLBP9WN8Gr">
		<meta name="theme-color" content="#ffffff">
		
		{% include 'fragments/google_analytics.html' %}
	</head>

	<body class="theme-base-0d">
		{% include 'sidebar.html' %}
		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>
	
	
   <script>
      /*
        Copyright (c) 2014 Mitchell Barry
        The MIT License (MIT) 
        Original script: https://github.com/mitch-b/web/blob/master/content/assets/auto-target.js
      */
      function hasSomeParentTheClass(element,classname) {
          if (element.className.split(' ').indexOf(classname)>=0) return true;
          return element.parentNode && hasSomeParentTheClass(element.parentNode, classname);
      }
      (function() {
        var hostname = window.location.host;
        hostname = hostname.split('.').slice(-2).join('.');
        var new_tab = true;
        var set_icon = true;
        for (var links = document.links, i = 0, a; a = links[i]; i++) {
            if (a.hostname !== hostname && hasSomeParentTheClass(a,"post")) {
                if (new_tab)
                    a.target = '_blank';
                if (set_icon)
                    a.innerHTML +=
                        '<i class="fa fa-external-link fa-1 external-link-margin" />';
             }
         } 
       })();
   </script>
   
     <div id="backtop" data-v-w="300">&#9650;</div>
  <script src="{{SITEURL}}/theme/js/float-panel.js" async></script>

	</body>
</html>
