{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ page.summary|striptags }}">
{% endblock %}

{% block title %}
  Livros: {{ page.title }} {{ super() }}
{% endblock %}

{% block page_header %}
  {{ page.title }}
{% endblock %}


{% block content %}
<article>
    <div class="post">
	<h2 class="page-title"><a href="{{ SITEURL }}/info/livros.html">Livros</a></h2>
	<h3>
		{{ page.title }}
	</h3>
	{% if page.subtitle %}
	  <p class="post-subtitle">{{ page.subtitle }}</p>
	{% endif %}

	{% if page.cover %}
	    <img src="{{ SITEURL }}/{{ page.cover | thumbnail("380x_")}}" alt="{{ page.title |striptags }}" class="book_page_cover book_cover" >         
	{% endif %}
	
	<p>{{ page.content }}
    </div>
</article>

{% include 'fragments/footer.html' %}

{% endblock %}