{% extends "base.html" %}

{% block content %}
<div class="post">
	<h2 class="page-title"><a href="{{ SITEURL }}/info/livros.html">Livros</a></h2>
	<h3>
		{{ page.title }}
	</h3>
	{% if page.subtitle %}
	  <p class="post-subtitle">{{ page.subtitle }}</p>
	{% endif %}

	{% if page.cover %}
	 	<img class="book_page_cover book_cover"
			 src="{{ SITEURL }}/{{ page.cover }}" 
			 alt="{{ page.title |striptags }}" />
	{% endif %}
	
	<p>{{ page.content }}
</div>

{% include 'fragments/footer.html' %}

{% endblock %}