{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME|striptags }} | {{ SITESUBTITLE|striptags }}
{% endblock %}


{% block content %}
	<div class="posts">
		{% for article in articles_page.object_list %}
			<div class="post">
                 		<a class="post-category" href="{{  SITEURL  }}/{{ article.category.url }}">{{ article.category | upper }}</a>
				<h2 class="post-title">
					<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
				</h2>
		  
			{% if article.cover %}
                <a href="{{ article.url }}">
				 <picture>
                    <source class="article_list_img" media="(min-width: 650px)" srcset="{{ SITEURL }}/{{ article.cover | thumbnail("1300x_") }}" alt="{{ article.title |striptags }}">
                    <source class="article_list_img" media="(min-width: 465px)" srcset="{{ SITEURL }}/{{ article.cover | thumbnail("650x_") }}" alt="{{ article.title |striptags }}">
                    <img class="article_list_img" src="{{ SITEURL }}/{{ article.cover }}" alt="{{ article.title |striptags }}">
                 </picture>
				</a>
			{% endif %}
			{% if article.summary %}
				<p>{{ article.summary }}</p>
				<a class="read-more" href="{{ SITEURL }}/{{ article.url }}">Ler mais…</a>
			{% else %}
				<p>{{ article.content }}</p>
			{% endif %}
			</div>
		{% endfor %}
	</div>
	
	{% include 'fragments/pagination.html' %}

	{% include 'fragments/footer.html' %}
{% endblock %}

